
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Noto+Sans+KR:wght@100&family=Press+Start+2P&family=Zilla+Slab+Highlight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.container3 {
  
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0 auto;
  margin-top: 1em;
  border:1px solid;
  border-color:  #ffffff;
  width:70%;
  .post {
    width: 100%;
    height: 500px;
    position: absolute;
    display: flex;
    border-style: solid;
    border-width: 2px;
    border-color:  #ffffff;
    position: relative;


    .header_post {
      width: 100%;
     
      
      position: absolute;
      top: 0;
      max-width: 100%;
        height: auto;
      
      }
    

    .body_post {
      width: 100%;
      height: 70%;
      background: #fff;
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      cursor: pointer;


      .post_content {
        width: 80%;
        height: 80%;
        background: #fff;
        position: relative;

        h1 {
          font-size: 20px;
          font-weight: bold;
        }

        p {
          font-size: 14px;
          font-weight: normal;
        }

        .container_infos {
          width: 100%;
          display: flex;
          justify-content: space-between;
          position: absolute;
          bottom: 0;
          border-top: 1px solid rgba(0, 0, 0, .2);
          padding-top: 25px;

          .postedBy {
            display: flex;
            flex-direction: column;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 12px;

            span {
              font-size: 12px;
              text-transform: uppercase;
              opacity: 0.5;
              letter-spacing: 1px;
              font-weight: bold;
            }
          }

          .container_tags {
            display: flex;
            flex-direction: column;

            span {
              font-size: 12px;
              text-transform: uppercase;
              opacity: 0.5;
              letter-spacing: 1px;
              font-weight: bold;
            }

            
              }
            }
          }
        }
      }
    }




footer {
  width: 15rem;
  height:8%;
  background: #1454cc;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
   
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #fff;
    font-family: 'Poppins';
  }
}
#addCrime
{
background-color:white;
margin: 0 auto;
margin-top:1em;
 width:70%;
 padding:0 1em 1em 1em;
 margin-bottom: 5%;
}

@media(max-width:800px) {
  
  #addCrime
  {
    width:100%
  }
  footer{
    left:0;
    width: 100%;
    height:2.5em;
    bottom:auto;
    justify-content: center;
    align-items: center;
    position: relative;
   
  }
  .container3{
    display: inline-block;
    width:100%;
   
    .post{
      width:100%;
    }
    #imgDesc
    {
      width:100%;
    }
  }
}
h5{
  font-size: 1.4em;
  font-family: 'Press Start 2P', cursive;
}

